<form action="/enroll" method="POST" id="umaForm">
  <label for="trainer">Trainer: </label>
  <input type="text" name="trainer" id="trainer"/>
  <label for="umaSelect">Choose Uma: </label>
  <select name="umaSelect" id="umaSelect" form="umaForm">
    <% for(let i = 0; i < umamusume.length; i++) { %>
      <option value="<%= umamusume[i].game_id%>"><%= umamusume[i].name %> </option>
    <% } %>
    
  </select>

  <button type="submit">Enroll</button>
</form>