<form action="/enroll" method="POST" id="umaForm">
  <label for="trainer">Trainer: </label>
  <input type="text" name="trainer" id="trainer"/>
  <label for="umaSelect">Choose Uma: </label>
  <select name="umaSelect" id="umaSelect" form="umaForm">
    <option value="1002">Silence Suzuka</option>
  </select>

  <button type="submit">Enroll</button>
</form>