<form action="/enroll" method="POST">
  <label for="trainer">Trainer: </label>
  <input type="text" name="trainer" id="trainer"/>
  <label for="uma"> Uma_ID: </label>
  <input type="number" name="uma" id="uma"/>
  <button type="submit">Enroll</button>
</form>